<template name="welcome">

	
	
	<div class="row">
		<div class="col-md-4 col-md-offset-0 col-xs-6">
			<img src="images/S.png" width="100%" alt="schedule"/>
			<a href="{{pathFor 'schedule'}}"><h1>Schedule</h1></a>
		</div>
		
		<div class="col-md-4 col-md-offset-0 col-xs-6">
			<img src="images/P.png" width="100%" alt="product"/>
			<a href="{{pathFor 'product'}}"><h1>Product</h1></a>
		</div>
	
		<div class="col-md-4 col-md-offset-0 col-xs-6">
			<img src="images/D.png" width="100%" alt="dictation"/>
			<a href="{{pathFor 'dictation'}}"><h1>Dictation</h1></a>
			
		</div>

		<div class="col-md-4 col-md-offset-0 col-xs-6">
			<img src="images/U.png" width="100%" alt="update"/>
			<a href="{{pathFor 'update'}}"><h1>Update</h1></a>
			
		</div>

		<div class="col-md-4 col-md-offset-0 col-xs-6">
			<img src="images/M.png" width="100%" alt="nuance"/>
			<a href="{{pathFor 'Memory'}}"><h1>Memory</h1></a>		
		</div>
		
		<div class="col-md-4 col-md-offset-0 col-xs-6">
			<img src="images/I.png" width="100%" alt="tshirt"/>
			<a href="{{pathFor 'information'}}"><h1>Information</h1></a>
			
		</div>

		
		
	</div>

</template>
