<template name="welcome">
	
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/S.png" width="100%" alt="registration"/>
			<a href="{{pathFor 'registration'}}"><h1>Registration</h1></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/P.png" width="100%" alt="schedule"/>
			<a href="{{pathFor 'schedule'}}"><h1>Schedule</h1></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/D.png" width="100%" alt="dictation"/>
			<a href="{{pathFor 'dictation'}}"><h1>Dictation</h1></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/P.png" width="100%" alt="people"/>
			<a href="{{pathFor 'people'}}"><h1>People</h1></a>
		</div>	
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/U.png" width="100%" alt="updates"/>
			<a href="{{pathFor 'updates'}}"><h1>Updates</h1></a>	
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/I.png" width="100%" alt="information"/>
			<a href="{{pathFor 'information'}}"><h1>Information</h1></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/M.png" width="100%" alt="memory"/>
			<a href="{{pathFor 'memory'}}"><h1>Memory</h1></a>		
		</div>

		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
			<img src="images/D.png" width="100%" alt="time"/>
			<a href="{{pathFor 'time'}}"><h1>Time</h1></a>
		</div>		
	</div>

</template>


